body
{
    background-color: rgb(20, 20, 20);
}

header, 
footer
{
    background-color: rgb(45, 68, 143);
    color: white;
}

/* HEADER */

header
{
    /* A VOIR */
    background-image: url("images/fond-header.png");
    background-size: cover;
    background-repeat: round;
    
    width: 65%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 150px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;     
    text-shadow: 1px 1px 20px white;
}

header h1
{
    font-size: 2.5em;
    margin:auto;
    padding: 30px;
}

header h2
{
    font-size: 1.25em;
    font-style: italic;
    margin:auto;
    padding: 10px;
}

/* NAV */

.my-nav
{
    width: 66%;
    background:royalblue;
    margin: auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    
    border: 2px solid rgb(20, 20, 20);
}

.my-nav h3
{
    color: white;
    font-size: 1.4em;
    border-bottom: 1px solid white;
}

.my-nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.my-nav li  
{
    list-style-type: none;
    margin: 0;
    padding-left: 3%;
    padding-right: 3%;
    border-right: 1px solid rgba(255, 255, 255, 0.575);
}

.my-nav .last-element-nav
{
    border: 0;
}

.my-nav a
{
    text-decoration: none;
    color:white;
}

.my-nav a:hover
{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}


/* BODY */

.main-body
{
    width: 65%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-content: center;
    color:rgb(37, 37, 37);
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.main-body h2
{
    text-align: center;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

/* DESCRIPTION */

.section-description
{
    background-color: rgb(251, 253, 218);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    
}

.section-description h2
{
    width: 40%;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(37, 37, 37);
    margin-bottom: 40px;
}

.section-description .body-description
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-description .text-description
{
    width: 65%;
    font-size: 1.1em;
    text-align: justify;
    margin: auto;
}

.section-description .photo-profil
{
    width: 30%;
}

@media screen and (max-width: 1000px)
{
    .section-description .body-description
    {
        flex-direction: column;
        align-items: center;
    }
    
    .section-description .text-description
    {
        width: 80%;
    }
    
    .section-description .photo-profil
    {
        margin-top: 0px;
    }
}

.section-description img
{
    border-radius: 15px;
    width: 65%;
}

.section-description a
{
    text-decoration: none;
    color: #e09900;
    font-weight: bold;
}

.section-description strong
{
    font-weight: bold;
    font-size: 0.95em;
}

/* SKILLS */

.section-skills
{
    background-color: royalblue;
    color: white;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section-skills h2
{
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 80px;
}

.skills
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skill-unity, 
.skill-web, 
.skill-git
{
    width: 20%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.skill-unity img, 
.skill-web img, 
.skill-git img
{
    background-color: white;
    border-radius: 50px;
    width: 130px;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.452);
}

/* CV */

.section-cv
{
    background-color: rgb(251, 253, 218);
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.section-cv h2
{
    width: 40%;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(37, 37, 37);
    margin-bottom: 60px;
}


.img-pdf img
{
    height: 100px;
    padding-bottom: 50px;
}

.img-pdf img:hover{
    height: 110px;
}

.button_download_cv
{
    background-color: royalblue;
    border-radius: 5px;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    width: 10%;
}

.button_download_cv:hover
{
    text-decoration: underline;
    background-color: rgb(90, 130, 250);
    padding: 15px;
    font-size: 1.1em;
}


/* EXPERIENCE */

.section-projects
{
    background-color: royalblue;
    color: white;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section-projects h2
{
    width: 40%;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 40px;
}

.list-projects
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.project
{
    background-color: rgb(45, 68, 143);
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    width: 45%;
    margin: 10px;
}  

@media screen and (max-width: 1000px)
{
    .list-projects
    {
        flex-direction: column;
        align-items: center;
    }
    
    .project
    {
        width: 90%;
    }
}

.project h4
{
    width: 95%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid white;
    
    font-size: 1.1em;
    text-transform: uppercase;
}

.project .img-project
{
    margin-top: 3%;
    text-align: center;
    margin-bottom: 3%;
}

.project .date
{
    padding-left: 30px;
    color:rgba(255, 255, 255, 0.575);
}

.project p
{
    width: 95%;
    text-align: justify;
    margin: auto;
    margin-bottom: 20px;
    overflow: auto;
}

.project .center-text
{
    text-align: center;
}

.project img
{
    width: 95%;
}

.project li
{
    list-style: square;
    
    padding-top: 5px;
    padding-bottom: 5px;
}

/* FOOTER */

footer
{
    background-image: url("images/img_ssa.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
    width: 65%;
    margin: auto;
    padding-top: 30px;
}

.main-footer
{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.main-footer p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    width: 30%;
    overflow-wrap: break-word;
    text-shadow: 2px 2px 20px white;
}

.main-footer img
{
    width: 55px;
    box-shadow: 0px 0px 10px white;
    margin: 5px;
}

.main-footer img:hover
{
    width: 65px;
    margin: 0px;
}

.footer_copyright
{
    font-size: 1em;
    text-align: center;
    padding-bottom: 1px;
    text-shadow: 2px 2px 20px white;
}

@media screen and (max-width: 1000px)
{
    header, .main-body, footer
    {
        width: 85%;
    }
    
    .my-nav
    {
        width: 86%;
    }
}