@import 'variables';


@mixin main-title () {
    margin: auto;
    
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darken($text-color, 10%);
    font-weight: 800;
}

@mixin main-title-after () {
    content: '';
    display: block;
    margin: auto;
    background: $second-color;
    height: 7px;
    width: 3rem;
    border-radius: 5px;
    margin-top: 1rem;
}

@mixin btn () {
    background: $second-color;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    padding: 1rem 5rem;
    font-size: 1.6rem;
    
    transition: transform 300ms ease-in-out;
    &:hover {
        cursor: pointer;
        transform: translateY(-0.25rem) scale(1.03);
    }
}