$body-background-color: #F5EFFF;
$main-color: #ffffff;
$second-color : #1964c5;

$text-color : #333333;
$main-font : 'Source Sans Pro',sans-serif;
    
$projects-card-color : lighten($main-color, 20%);

$main-width: 100%;

$max-width-tablet : 1200px;
$max-width-intermediate : 900px;
$max-width-phones : 700px;