$body-background-color: #F5EFFF;
$main-color: #7371FC;
$second-color : #E5D9F2;

$text-color : rgb(37, 37, 37);

$projects-card-color : lighten($main-color, 20%);

$main-width: 70%;

$max-width : 1000px;