@import '../utils/variables';

.nav {
    width: $main-width;
    background: $main-color;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    
    @media screen and (max-width: $max-width)
    {
        width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__element {
            list-style-type: none;
            margin: 0;
            padding-left: 3%;
            padding-right: 3%;
            border-right: 1px solid rgba(255, 255, 255, 0.575);
    
            &__link {
                text-decoration: none;
                color:white;
    
                &:hover{
                    padding-bottom: 10px;
                    border-bottom: 2px solid white;
                }
            }
    
            &--last {
                border: 0;
            }
        }
    }

    
}
