@import 'utils/variables';
@import 'utils/mixin';

@import 'partials/header';
@import 'partials/home';
@import 'partials/description';
@import 'partials/skills';
@import 'partials/projects';
@import 'partials/contact';
@import 'partials/footer';

* {
    margin : 0;
}

html {
    scroll-behavior: smooth;
    
    @media screen and (max-width: $max-width-tablet) {
        font-size: 85%;
    }
    
    @media screen and (max-width: $max-width-intermediate) {
        font-size: 75%;
    }
}

body {
    background-color: $body-background-color;
    font-family: $main-font;
    color: $text-color;
}

main {
    width: $main-width;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
}